* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
     background-color: #f2ebe3;
     font-family: 'Montserrat', sans-serif;
     min-height: 100vh;
     display: flex;
     justify-content: center;
  align-items: center;
}

.card-wrapper {
  display: flex;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
   max-width: 600px;
}
.card-wrapper img {
  width: 50%;
  object-fit: cover;
}
.container {
  padding: 2rem;

  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.category p {
  font-size: 0.75rem;
  letter-spacing: 5px;
  color: #6c7289;
}
h1 {
  font-family: 'Fraunces', serif;
  font-size: 2rem;
  line-height: 1.1;
  color: #1c232b;
}
.description {
  font-size: 0.9rem;
  line-height: 1.6;
  color: #6c7289;
}
.price {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.current {
  font-family: 'Fraunces', serif;
  font-size: 2rem;
  color: #3c8067;
}
.old {
  text-decoration: line-through;
  color: #6c7289;
}
button {
  margin-top: 0.5rem;
  padding: 1rem;
  background-color: #3c8067;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}
button:hover {
  background-color: #1a4032;
}
@media (max-width: 600px) {
  .card-wrapper {
    flex-direction: column;
  }

  .card-wrapper img {
    width: 100%;
  }
}